h1 Login Page
hr
form(method = "post")
	table
		tr
			td
				label ID
			td
				input(type="text", name="id")
		tr
			td
				label Password
			td
				input(type="password", name="password")
	input(type="submit", name="")